<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Venta</title>
    <link rel="stylesheet" th:href="@{/css/stylesVenta.css}">
</head>
<body>

<h1>🧾 Detalle de Venta</h1>

<div class="detalle-info">
    <p><strong>ID:</strong> <span th:text="${venta.id}"></span></p>
    <p><strong>Cliente:</strong> 
        <span th:text="${venta.cliente.nombres} + ' ' + ${venta.cliente.apellidos}"></span>
    </p>
    <p><strong>Total:</strong> S/. <span th:text="${venta.total}"></span></p>
</div>

<h2>📦 Productos Vendidos</h2>

<table class="tabla">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="detalle : ${venta.detalles}">
            <td th:text="${detalle.producto.nombre}"></td>
            <td th:text="${detalle.cantidad}"></td>
            <td th:text="${detalle.producto.precio}"></td>
            <td th:text="${#numbers.formatDecimal(detalle.cantidad * detalle.producto.precio, 1, 2)}"></td>
           
        </tr>
    </tbody>
</table>

<br/>
<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/ventas/lista}">← Volver al listado</a>
<a th:if="${#authorization.expression('hasRole(''USER'')')}" th:href="@{/ventas/mis-compras}">← Volver a mis compras</a>


</body>
</html>
